---
import "@ansiversa/components/styles/global.css";
import { WebLayout } from "@ansiversa/components";

interface Props {
  title?: string;
  description?: string;
}

const props = Astro.props;
---

<WebLayout {...props}>
  <main class="min-h-screen bg-slate-950 text-slate-100">
    <slot />
  </main>
</WebLayout>
